<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="accountService" class="com.ln.spring.sysmanage.service.impl.AccountService">
		<property name="accountDao" ref="accountDao"></property>
	</bean>

	<!--注册studentDao -->
	<bean id="accountDao" class="com.ln.spring.sysmanage.dao.impl.AccountDao">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<!--注册springjdbc查询模板 模板依赖数据源 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<context:property-placeholder location="classpath:jdbc.properties" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!--注册事务管理器 -->
	<bean id="txMgr"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!--注册事务代理 -->
	<bean id="transProxy"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="txMgr"></property>
		<property name="target" ref="accountService"></property>
		<property name="transactionAttributes">
			<props>
				<prop key="oper*">ISOLATION_DEFAULT,PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

</beans>         